* {
    user-select: none;
}


body {
    background-image: url(Stages/Jungle/Jungle.jpg);
    cursor: crosshair;
    
}


span {
    color: white;
    border: thin solid whitesmoke;
    margin: 5px;
    padding: 5px;
}

.image {
    visibility: hidden;
}

.fish
{
    position: absolute;
    top: 590px;
    left: 290px; 
    width: 80px;
    height: 80px;
}

.tucan {
    position: absolute;
    top: 50px;
    left: 800px;
    width: 100px;
    height: 100px;
}

.crocodile {
    position: absolute;
    top: 350px;
    left: 600px;
    height: 60px;
    width: 190px;
    transform: rotate(20deg);   
}

.jaguar {
    position: absolute;
    top: 250px;
    left: 350px;
    height: 120px;
    width: 200px;
}

.hippo {
    position: absolute;
    top: 400px;
    left: 1200px; 
    width: 250px;
    height: 250px;
   
}

.macaque {
    position: absolute;
    top: 230px;
    left: 1030px;
    width: 80px;
    height: 140px;
}

.anaconda {
    position: absolute;
    top: 450px;
    left: 860px;
    width: 300px;
    height: 150px;

}

.owl {
    position: absolute;
    top: 150px;
    left: 60px;
    height: 100px;
    width: 80px;
}


.health-boss,
.health-player {
    visibility: hidden;
}

.boss{
    width: 10px;
    height: 10px;  
}

.one {
    position: absolute;
    left: 1000px;
    top: 100px;

}

.two {
    position: absolute;
    left: 500px ;
}

.three{
    position: absolute;
    left: 50px;
    top: 200px;
}

.four {
    position: absolute;
    left: 350px;
    top: 300px;
}

.five {
    position: absolute;
    left: 800px;
    top: 200px ;
}

.six {
    position: absolute;
    left: 800px; 
    top: 300px;
}
