
body {
    background-image: url(Background-selector.jpg);
    background-position:100% ;
}

.div-character {
    border: thin solid whitesmoke;
    margin-top: 10px;
    margin-left: 15px;
    width: fit-content;
    border-radius: 20%;
}

.div-character:hover {
    background-color: rgba(173, 236, 181, 0.3)
}


.images-size {
    width: 200px;
    height: 200px;
}


.characters-flex {
    display: flex;
}


.character-selected {
    border: thin solid whitesmoke;
    color: darkslategrey;
    width: 200px;
    padding: 4px;
    text-align: center;
    border-radius: 20%;
    position: absolute;
    top: 50px;
    left: 700px;
}

input {
    border: thin solid black;
    background-color: rgba(173, 236, 181, 0);
    border-color: whitesmoke;
    border-radius: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    width: 150px;
    text-align: center;
    position: absolute;
    left: 726px;
    top: 150px;
    margin-top: 5px;
    margin-right: 5px;
}


.go-to-game {
    border: thick solid antiquewhite;
    border-radius: 100%;
    background-color: rgba(173, 236, 181, 0.3);
    color: antiquewhite;
    font-weight: 600;
    height: 60px;
    width: 110px;
    position: absolute;
    top: 3px;
    left: 1425px;
}

.go-to-game:hover {
    background-color: rgba(173, 236, 181, 0.6);
    font-weight: 600;
}