.stage {
   border: thin solid black;
   display: flex;
   height: 200px;
}


body {
    max-width: 1500px;
    height: 100%;
}

.square {
    width: 100px;
    height: 100px;
    margin: auto;
    visibility: hidden;
    color:white;

}

.one {
    background-color: black;
   
}

.two {
    background-color: aqua;

}

.three {
    background-color: sandybrown;
  
}

.four {
    background-color: yellowgreen;
 
}

.five {
    background-color: red;
}

.six {
    background-color: coral;
}

.seven {
    background-color: chocolate;
}

.eight {
    background-color: crimson;
}

span {
    margin: 20px;
    padding: 2px;
    border: thin solid black;
}

.health-boss,
.health-player {
    visibility: hidden;
}
